*{
  max-width: 1360px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {

  background-color: white;
}
img{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 150px;
  
  z-index: 3;
}
.fundo {
  position: absolute;
  background: black;
  width: 100%;
  height: 53px;
  z-index: 2;
}
p{


  color: #504D4D;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
h1 {
    position: absolute;
    color: #504D4D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;
   
    left: 15%;
    margin-top: 60px
  }
.name{
  position: absolute;
    text-align: left;
    top: 15%;
    left: 10%;
    width: 290px;
    height: 39px;
    padding-left: 5%;
    
    
    border-radius: 25px;
    background: #D9D9D9;
    border-width: 0;
    
    color: #504D4D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
.email{
  position: absolute;
  text-align: left;
  top: 25%;
  padding-left: 35px;
  left: 10%;
  width: 290px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #D9D9D9;
  border-width: 0;
  color: #504D4D;
}
input::placeholder {
  color: red;
  font-size: 15px;
  color: var(--letra, #504D4D);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
   

}

textarea::placeholder {
  color: red;
  font-size: 15px;
  color: var(--letra, #504D4D);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
   

}

.caixa_1{
  position:absolute;
  display:flex;
  justify-content:center;
  text-align: left;
  top: 36%;
  left: 10%;
}
.caixa_2 {
  position:absolute;
  display:flex;

  justify-content:center;
  text-align: left;
  top: 48%;
  left: 10%;
}
.caixa_3 {
  position:absolute;
  display:flex;
  justify-content:center;
  text-align: left;
  top: 60%;
  left: 10%;
}
.caixa {
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
  margin-right: 5%;
  background-color: #D9D9D9;
  color: #504D4D;

  text-align: center;
  color: #504D4D;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  padding-top: 4%;
  padding-left: 0px;

}

/* Define um estilo diferente para as caixas quando elas são clicadas */
.caixa:active {
  transform: translateY(-10px); /* move a caixa para cima em 10 pixels */
  box-shadow: 0 10px 10px rgba(0,0,0,0.2); /* cria uma sombra abaixo da caixa */
}

input[type="radio"]:checked + .caixa {
  background-color: #f00;
  color: #000f;
}
.desc {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
  top: 75%;
  left: 10%;
  width: 290px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #D9D9D9;
  border-width: 0;
  color: #504D4D;
}
.btn {
  position: absolute;
  top: 100%;
  left:56%;
  width: 102px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #D9D9D9;
  border-width: 0;
  color: #504D4D;
 
  color:#504D4D;
  text-align: center;
  text-justify: auto;
}
